{% extends "base.html" %}
{% block sidebar %}

<ul>
    <a href="/patient/all"> <li><p>Patients</p></li></a>
    <a href="/patient/{{ patient.id }}/"><li class="currentPage sidebarSub"><p>Patient: {{ patient.name }} </p></li></a>
    <a href="/patient/panss/{{ patient.id }}"><li class="sidebarSub2"><p>PANSS</p></li></a>
    <a href="/patient/HCR20/{{ patient.id }}"><li class="sidebarSub2"><p>HCR20</p></li></a>
    <a href="/patient/event/{{ patient.id }}"><li class="sidebarSub2"><p>Events</p></li></a>
</ul>

{% endblock %}


{% block content %}

<h1>{{ patient.name }}</h1>
<p>Hospital ID:  {{ patient.hospital_id }}</p>
<p>Date of Birth:  {{ patient.DOB }}</p>
<p>Date of Admission:  {{ patient.DOA }}</p>
<p>Date of Discharge:  {{ patient.DOD }}</p>

{% endblock %}