{% extends "base.html" %}

{% block sidebar %}
<ul>
    <a href="/patient/panss/{{patient.id}}"><li><p>Cancel</p></li></a>
</ul>

{% endblock %}

{% block content %}

<h1>New PANSS Rating for {{ patient.name }}</h1>


{{ fields }}

{{ existing_filter }}

{% if existing_filter.P1 == True %}
{{ form.P1 }}
{% endif %}

{% for field in exisitng_filter %}
    {% if field = True %}
        <p>No</p>
    {% else %}
    <p>Yes</p>
{% endif %}

{% endfor %}

<div class="rating-form">
    <form action="/patient/panss/new/{{patient.id}}/" method="post">{% csrf_token %}
        {% for field in form %}
            <table>
               <tr>
                    <td>{{ field.label_tag }}</td>
                    <td>{{ field }}</td>
                </tr>
            </table>
        {% endfor %}


        <input type="submit" name="submit" value="Update" class="btn blue">
    </form>






</div>

{% endblock %}