{% extends "base.html" %}

{% block sidebar %}
<ul>
    <a href="/patient/panss/{{patient.id}}"><li><p>Cancel</p></li></a>
</ul>

{% endblock %}

{% block content %}

<h1>Admission PANSS Rating for {{ patient.name }}</h1>




<div class="rating-form">
    <form action="/patient/panss/admission/{{patient.id}}/" method="post">{% csrf_token %}
        <table>
            <tr>
                <td>{{ form.P1.label }}:</td>
                <td>{{ form.P1 }}</td>
            </tr>
            <tr>{{ form.P1.errors }}</tr>
            <tr>
                <td>{{ form.P2.label }}:</td>
                <td>{{ form.P2 }}</td>
            </tr>
            <tr>{{ form.P2.errors }}</tr>
            <tr>
                <td>{{ form.P3.label }}:</td>
                <td>{{ form.P3 }}</td>
            </tr>
            <tr>{{ form.P3.errors }}</tr>
            <tr>
                <td>{{ form.P4.label }}:</td>
                <td>{{ form.P4 }}</td>
            </tr>
            <tr>{{ form.P4.errors }}</tr>
            <tr>
                <td>{{ form.P5.label }}:</td>
                <td>{{ form.P5 }}</td>
            </tr>
            <tr>{{ form.P5.errors }}</tr>
            <tr>
                <td>{{ form.P6.label }}:</td>
                <td>{{ form.P6 }}</td>
            </tr>
            <tr>{{ form.P6.errors }}</tr>
            <tr>
                <td>{{ form.P7.label }}:</td>
                <td>{{ form.P7 }}</td>
            </tr>
            <tr>{{ form.P7.errors }}</tr>
            <tr>
                <td>{{ form.N1.label }}:</td>
                <td>{{ form.N1 }}</td>
            </tr>
            <tr>{{ form.N1.errors }}</tr>
            <tr>
                <td>{{ form.N2.label }}:</td>
                <td>{{ form.N2 }}</td>
            </tr>
            <tr>{{ form.N2.errors }}</tr>
            <tr>
                <td>{{ form.N3.label }}:</td>
                <td>{{ form.N3 }}</td>
            </tr>
            <tr>{{ form.N3.errors }}</tr>
            <tr>
                <td>{{ form.N4.label }}:</td>
                <td>{{ form.N4 }}</td>
            </tr>
            <tr>{{ form.N4.errors }}</tr>
            <tr>
                <td>{{ form.N5.label }}:</td>
                <td>{{ form.N5 }}</td>
            </tr>
            <tr>{{ form.N5.errors }}</tr>
            <tr>
                <td>{{ form.N6.label }}:</td>
                <td>{{ form.N6 }}</td>
            </tr>
            <tr>{{ form.N6.errors }}</tr>
            <tr>
                <td>{{ form.N7.label }}:</td>
                <td>{{ form.N7 }}</td>
            </tr>
            <tr>{{ form.N7.errors }}</tr>
            <tr>
                <td>{{ form.G1.label }}:</td>
                <td>{{ form.G1 }}</td>
            </tr>
            <tr>{{ form.G1.errors }}</tr>
            <tr>
                <td>{{ form.G2.label }}:</td>
                <td>{{ form.G2 }}</td>
            </tr>
            <tr>{{ form.G2.errors }}</tr>
            <tr>
                <td>{{ form.G3.label }}:</td>
                <td>{{ form.G3 }}</td>
            </tr>
            <tr>{{ form.G3.errors }}</tr>
            <tr>
                <td>{{ form.G4.label }}:</td>
                <td>{{ form.G4 }}</td>
            </tr>
            <tr>{{ form.G4.errors }}</tr>
            <tr>
                <td>{{ form.G5.label }}:</td>
                <td>{{ form.G5 }}</td>
            </tr>
            <tr>{{ form.G5.errors }}</tr>
            <tr>
                <td>{{ form.G6.label }}:</td>
                <td>{{ form.G6 }}</td>
            </tr>
            <tr>{{ form.G6.errors }}</tr>
            <tr>
                <td>{{ form.G7.label }}:</td>
                <td>{{ form.G7 }}</td>
            </tr>
            <tr>{{ form.G7.errors }}</tr>
            <tr>
                <td>{{ form.G8.label }}:</td>
                <td>{{ form.G8 }}</td>
            </tr>
            <tr>{{ form.G8.errors }}</tr>
            <tr>
                <td>{{ form.G9.label }}:</td>
                <td>{{ form.G9 }}</td>
            </tr>
            <tr>{{ form.G9.errors }}</tr>
            <tr>
                <td>{{ form.G10.label }}:</td>
                <td>{{ form.G10 }}</td>
            </tr>
            <tr>{{ form.G10.errors }}</tr>
            <tr>
                <td>{{ form.G11.label }}:</td>
                <td>{{ form.G11 }}</td>
            </tr>
            <tr>{{ form.G12.errors }}</tr>
            <tr>
                <td>{{ form.G12.label }}:</td>
                <td>{{ form.G12 }}</td>
            </tr>
            <tr>{{ form.G12.errors }}</tr>
            <tr>
                <td>{{ form.G13.label }}:</td>
                <td>{{ form.G13 }}</td>
            </tr>
            <tr>{{ form.G13.errors }}</tr>
            <tr>
                <td>{{ form.G14.label }}:</td>
                <td>{{ form.G14 }}</td>
            </tr>
            <tr>{{ form.G14.errors }}</tr>
            <tr>{{ form.G14.errors }}</tr>
            <tr>
                <td>{{ form.G15.label }}:</td>
                <td>{{ form.G15 }}</td>
            </tr>
            <tr>{{ form.G15.errors }}</tr>
            <tr>
                <td>{{ form.G16.label }}:</td>
                <td>{{ form.G16 }}</td>
            </tr>
            <tr>{{ form.G16.errors }}</tr>
            <tr>
                <td>{{ form.S1.label }}:</td>
                <td>{{ form.S1 }}</td>
            </tr>
            <tr>{{ form.S1.errors }}</tr>
            <tr>
                <td>{{ form.S2.label }}:</td>
                <td>{{ form.S2 }}</td>
            </tr>
            <tr>{{ form.S2.errors }}</tr>
            <tr>
                <td>{{ form.S3.label }}:</td>
                <td>{{ form.S3 }}</td>
            </tr>
            <tr>{{ form.S3.errors }}</tr>

          </table>


        <input type="submit" name="submit" value="Update" class="btn blue">
    </form>
</div>

{% endblock %}