
/* ---------------- Main Body Declarations --------------------*/
    html{
            height: 100%;
        }
   body {
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            background: #dbebec;
            margin: 0;
            height: 100%;

        }
    ul{
            list-style-type:none;
    }

    input[type=submit] {
        font-family: 'Open Sans', sans-serif;
        border: none
    }

    .centered{
        text-align: center;

    }

    .rating-form form{
        list-style-type: none;
        max-width: 400px;
        margin: 10px auto;
        padding: 10px 20px;
        background: #f4f7f8;
        border-radius: 8px;
        max-width: 600px;
    }

    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="datetime"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="url"],
    textarea,
    select {
        background: rgba(255,255,255,0.1);
        border: none;
        font-size: 16px;
        height: auto;
        margin: 0;
        outline: 0;
        padding: 15px;
        width: 90%;
        background-color: #e8eeef;
        color: #8a97a0;
        box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
        margin-bottom: 30px;
    }



   .mytable{
        margin: 0 auto;
        background: #f4f7f8;
   }

   .mytable th {
        color: #55acee;
        border: 1px solid #cccccc;
        letter-spacing: 2px;
        text-align: left;
        padding: 6px 6px 6px 12px;
        background: #edf1f4;
   }

   .mytable td {
        border: 1px solid #cccccc;
        padding: 6px 6px 6px 12px;
        color: #6D929B;
   }

/* ---------------- Text -------------------*/

        h1{
             color: #55acee;
             text-align: center;
        }

        h2{
            color: #55acee;
            display: inline-block;
        }

/* ---------------- Header -------------------*/
.header{

            height: 65px;
            background-color: #ffffff;
            border-bottom: 1px solid #cccccc;
            position: relative;
            margin-bottom: 10px;
        }

.headerContainer{
            width: 960px;
            margin: 0 auto;
        }

.title{
            text-align: left;
            font-size: 25px;
            color: #55acee;
            width: 250px;
            padding-top: 12px;
            display: inline-block;
            float: left;
        }

.sub-title{
            font-size:10px;
            color: red;

    }
#headerNav{
        width: 300px;
        display: inline-block;
        float: right;
        padding-top: 15px;
    }

    #headerNav i{
        color: #55acee;
        padding-left: 10px;
    }

.loggedin{
        font-size: 12px;
        color: #55acee;
        position: relative;
        bottom: 5px;

    }

 .red {
    color: red;
 }


/* ---------------- Content/Sidebar -------------------*/

       #page{
            height: 100%;
            margin: 0 auto;
            width: 960px;
            -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.25);
            -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.25);
            box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.25);


        }


        #sidebar {
            background: #edf1f4;
            float:left;
            width: 200px;
            border-right: 1px solid #cccccc;
            height: 100%
        }

        #sidebar ul {
            list-style-type: none;
            margin:0 -40px;
            width: 201px;
        }
        #sidebar ul a {
            color: #55acee;;
            text-decoration: none;
        }

        #sidebar ul a:hover {
            color: #2ecc71;
        }

        #sidebar li  {
            border-bottom: 1px solid #cccccc;
            text-align: center;
        }

        #sidebar .currentPage{
            background-color: #ffffff;
        }

        #sidebar .sidebarSub{
            margin-left: 40px;
            border-left: 1px solid #cccccc;

        }
        #sidebar .sidebarSub2{
            margin-left: 80px;
            border-left: 1px solid #cccccc;

        }

        #sidebar p{
            padding: 20px ;
            margin: 0 ;
        }

        #content {
            background: #ffffff;
            float: left;
            width: 758px;

            height: 100%

        }



        #contentContainer{
            padding: 25px;
            text-align: left;
            overflow: hidden;
        }



/* ---------------- Links/Buttons -------------------*/
        .link {
            text-decoration: none;
            color: #55acee;
            border-bottom: 2px dotted #55acee;
            transition: .3s;
            -webkit-transition: .3s;
            -moz-transition: .3s;
            -o-transition: .3s;

        }

        .link:hover {
            color: #2ecc71;
            border-bottom: 2px dotted #2ecc71;
        }

        #buttons {
            padding-top: 10px;
            text-align: center;
        }


        .btn {
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 16px;
            text-decoration: none;
            margin: 5px;
            color: #fff;
            position: relative;
            display: inline-block;
        }

        .btn:active {
            transform: translate(0px, 5px);
            -webkit-transform: translate(0px, 5px);
            box-shadow: 0px 1px 0px 0px;
        }

        .blue {
            background-color: #55acee;
            box-shadow: 0px 5px 0px 0px #3C93D5;
        }

        .blue:hover {
            background-color: #6FC6FF;
        }

        .grey {
            background-color: #efefef;
            box-shadow: 0px 5px 0px 0px #cccccc;
        }


/* ---------------- Rating Targets -------------------*/

.rating-target{
    display: inline-block
}

.rating-target-container #chart-container{
    display: inline-block;
    width: 550px;
}