{% extends "base.html" %}

{% block content %}
  
  <h1>Register</h1>
  
  {% for field in form %}
    {{field.error}}

  {% endfor %}


<form action="/accounts/register/" method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.username.errors }}
        <label for="id_Username">Username:</label>
        {{ form.username }}
    </div>
    <div class="fieldWrapper">
        {{ form.email.errors }}
        <label for="id_email">Email Address:</label>
        {{ form.email }}
    </div>
    <div class="fieldWrapper">
        {{ form.password1.errors }}
        <label for="id_password1">Password:</label>
        {{ form.password1 }}
    </div>
    <div class="fieldWrapper">
        {{ form.password2.errors }}
        <label for="id_password2">Password confirmation:</label>
        {{ form.password2 }}
    </div>
    <br>
    <input type="submit" value="Register" class="btn blue"/>
</form>

{% endblock %}