{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>{% block title %}My Base Template{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static "assets/css/default.css" %}">
    <script type=”text/javascript” src="{% static "assets/js/jquery-2.1.4.min.js" %}"></script>
    <script type=”text/javascript” src="{% static "assets/js/Highcharts-4.1.7/js/highcharts.js" %}"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

</head>
<body>
     <!--<div class ="header"></div>-->
    <div id ="page">
        <div id ="sidebar">
            {% block sidebar%}
            <ul>
                <a href="/accounts/login"> <li>Login</li></a>
                <a href="/accounts/register"> <li>Register</li></a>
                <a href="/accounts/profile"> <li>Profile</li></a>
                <a href="/patient/all"> <li>Patients</li></a>
                <a href="/admin"> <li>Admin</li></a>
            </ul>
            {% endblock %}
        </div>

        <div id="content">
            <div id="contentContainer">
            {% block content %}{% endblock %}
            </div>
        </div>
    </div>

</body>
</html>